<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.main_title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- REMOVED
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
        -->

        <li style="font-size:20px"; class="hidden">
          <a href="#page-top"></a>
        </li>

        <li style="font-size:20px";  class="page-scroll">
          <!-- <a href="#about">About</a> -->
          <a href="#portfolio">About</a>
        </li>
        <li style="font-size:20px"; class="page-scroll">
          <!-- <a href="#portfolio">Portfolio</a> -->
          <a href="#author">Authors</a>
        </li>
        <li style="font-size:20px"; class="page-scroll">
          <a href="#date">Program</a>
        </li>
        <li style="font-size:20px"; class="page-scroll">
          <a href="#origanizer">Origanizers</a>
        </li>


        <!-- <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li> -->




        <li>
          <a href="https://idwac-cn.github.io/idwac/">EN/中文</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
