<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <!-- <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div> -->
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <span class="skills">
        <p>The emergence of generative artificial intelligence technology such as the Large Language Model (LLM), the Large Vision Model (LVM) has presented promising outcomes in both academic and industrial domains and becomes ubiquitously used. However, still few works have been focused on implementing these technologies for children with Autism Spectrum Disorder(ASD). 
          <br><br>
          In the meantime, the mainstream personalized training with interactive design for children with special needs still faces potential challenges. <strong>As such, the goal of this workshop is to provide a platform for researchers, software and medical practitioners, and designers to share and debate both the pros and cons of applying the Large Language Model (LLM) and Internet of Things(IoT) for diagnosis and personalized training for autistic children.</strong> 
          <br><br>
          Through hosting multiple activities during the half-day workshop, including oral presentation, demo and panel discussion, we hope to use this opportunity to build a network of experts to dedicate our efforts on benefiting children with special needs and further inspire the research on taking advantage of the emerging ubiquitous technologies for these under-privileged users, caregivers and special education teachers.</p>
        </span>
      
        </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>


  </div>
</section>
