<!-- About Section -->
<section class="success" id="author">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Call For Participation</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <!-- <p>The Author section.</p> -->
        <span class="skills">
        <p  class="text-black-faded text-left">This workshop explores the benefits, challenges, and future directions for involving creative interactive design using LLMs and IoT with/for autistic children in personalized training. By engaging in presentations, demonstrations, and group discussions, participants will have the chance to exchange their related experiences and insights. Submissions of position papers, work-in-progress reports, or demonstration papers for a short presentation or demonstration related to the interactive design with autistic children using LLM and IoT for personalized training or relevant fields are welcomed.
           <br><br>Specifically, the workshop is expecting:</p>
        <ul>
          <li>Position papers (2-4 pages) discussing research questions, opportunities, benefits, or challenges</li>
          <li>Work-in-progress reports (2-4 pages) highlighting current research</li>
          <li>Demonstration papers (1 page) illustrating a leading-edge system in use, under development, or at a testing stage</li>
        </ul>

        <br><br>
        <p>The suggested topics include (but are not limited to):</p>
        <ul>
          <li>Optimized and personalized training for special education</li>
          <li>AI, IoT, and/or Smart Sensors for special education</li>
          <li>Large Language Models (LLMs), and/or Large Vision Models (LVM) for special education</li>
          <li>Technology-Based Intervention(TBI) for special education</li>
          <li>Interactive design with children</li>
          <li>Emerging Applications for special education or healthcare</li>
        </ul>
        <br><br>
        <p>Authors of accepted works will be invited to present their submissions in a dedicated presentation or demo session.</p>
        <br><br>

        <p>Submission format: <a href="https://ubicomp.org/ubicomp-iswc-2024/authors/formatting/" target="_blank" style="background-color:rgb(252, 255, 255);">UbiComp/ISWC 2024 Proceedings Formats </a>   </p>

      
    
      </span>
      </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
