<!-- About Section -->
<!-- <section class="success" id="origanizer"> -->
<section  id="origanizer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Origanizers</h2>
        <!-- <hr class="star-light"> -->
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div>
        <!-- <p>The orgranizer section section.</p> -->
        <p><strong>Yongfu Wang</strong> is a PhD student in the University of Nottingham Ningbo China Computer Science program. He received the master degree in Computer Science from Northwestern University (US) and bachelor degree in Computer Science and minor in Mathematical Science at Wenzhou-Kean University. His PhD research interest focuses on utilizing ubiquitous wearable sensors and Internet-of-Things (IoT) devices with haptic sensing for healthcare. His prior work was published at ACM CHI, CSCW and UbiComp conferences.</p>
        <br><br>
        <p><strong>Mingyue Tang</strong> is a Ph.D. student in the Department of Computer Science at the University of Illinois Urbana-Champaign (UIUC). She received her master’s degree from the University of Virginia (UVa) Link Lab. Her research interests include wireless sensing, mobile computing, signal processing, and Internet of Things (IoT) in health. Through her work, she aims to create innovative solutions that can address real-world problems and make a positive impact on society. Her prior work was published at ICLR, KDD, IPSN, SenSys, etc. conferences, and ACM Transactions on Sensor Networks (TOSN), SPJ Health Data Science journals.</p>
        <br><br>
        <p><strong>Dr. Yifan He</strong> is an assistant professor at Dept. of Software Engineering, Zhejiang University of Finance and Economics. He received his Ph.D. and Master’s degree at the University of Tsukuba, Japan in 2023 and 2020, respectively. Currently, his research interests include evolutionary optimization and learning, and evolvable hardware. He aims to build an evolvable and intelligent problem-solving system. Previously, he received his Bachelor’s degree at Wenzhou Kean University, China in 2017, where he conducted several studies in HCI and assistive technology. His prior work was published at GECCO, HCII conferences and Operations Research Perspectives journals, etc. He is a reviewer of several journals and conferences, such as Information Sciences, IEEE Trans. on Evolutionary Computation, and ALIFE, etc.</p>
        <br><br>
        <p><strong>Dr. Tiffany Y. Tang</strong> is an associate professor at Wenzhou-Kean University. In May 2015, she co-founded the Center on Innovation and Assistive Technology for Autism &amp; Neurodevelopmental Disorders at Wenzhou-Kean University (then called Wenzhou-Kean Autism Research Center). Till now, her team has published a total of 26 book chapters, journal and conference papers related to innovative technology for autism. Dr. Tang’s most recent research interests include affective computing and computational sensing on autism, sensing and wearable technologies for humans.</p>
        

      </div>
      <!-- <div class="col-lg-4">
        <p>[TEST DELETED AFTER FINALIZED]Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
